{{!-- Navbar (MAIN/ABOUT/MEDIA/TOUR/MERCH/CONTACT) --}}
<nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse1" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-auto" href="#">
      <!-- Band Logo -->
      <svg class="nav-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.00673 500">
        <defs>
          <style>
            .cls-1 {
              fill: #ffffff;
            }
          </style>
        </defs>
        <title>HFM_Icon</title>
        <path class="cls-1" d="M287.52886,38c-137.85022,0-250,112.14978-250,250v5.17241H224.06913l29.57638-141.96524,51.41433,325.63476,48.57557-205.65059,5.93009,22.29088,167.55792.01515C524.187,423.08385,417.772,527.65517,287.52886,527.65517A239.58327,239.58327,0,0,1,50.526,323.34483H40.06961A249.9328,249.9328,0,0,0,287.52886,538c137.67174,0,249.82152-111.99993,250-249.66831l.00673-5.17914-170.01616-.01516L353.036,228.721,307.08031,423.296,255.04637,93.75835,215.65723,282.82759H47.92757C50.68551,153.0559,157.10725,48.34483,287.52886,48.34483c118.68265,0,219.27532,87.96934,236.86608,203.44827h10.45258C517.168,130.56087,411.86589,38,287.52886,38Z"
          transform="translate(-37.52886 -38)" />
      </svg>
    
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/media">Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tour">Tour</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/merch">Merch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>