<section class="social-media">
  <div class="container">
    <div class="action-box text-center">
      <!-- get icons -->
      <h2>HE FAILS ME ON SOCIAL MEDIA</h2>
      <hr>
      <div class="links">
        <div class="row">
          <div class="col-sm-3">
            <div class="spotify">
              <a href="https://open.spotify.com/artist/1DnIqsvnd5OSZrtcwn6DlR" target="_blank">
                <i class="fa fa-spotify" style="font-size:36px"></i>
              </a>
            </div>
          </div>


          <div class="col-sm-3">
            <div class="soundcloud">
              <a href="https://soundcloud.com/hefailsme" target="_blank">
                <i class="fa fa-soundcloud" style="font-size:36px"></i>
              </a>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="instagram">
              <a href="https://www.instagram.com/hefailsme" target="_blank">
                <i class="fa fa-instagram" style="font-size:36px"></i>
              </a>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="facebook">
              <a href="https://www.facebook.com/hefailsme/" target="_blank">
                <i class="fa fa-facebook-official" style="font-size:36px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>