 {{!-- - ABOUT HE FAILS ME: - HFM Bio - Studio/Live production: - short bio with pics/video - List of bands w/ short bios
and 1 youtube vid + links to Spotify pages - No Motiv - The Warriors - Retaliate - Peace’d Out - Felled Trees --}}

<!-- About 
    ================================================== -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>
                    <small>ABOUT</small>
                    <br> HE FAILS ME</h2>
            </div>
            <div class="col-md-4">
            <img src="../public/assets/images/band_Photo.jpg" alt="" class="img-fluid">
            <hr>
            <p> He Fails Me is the solo music entity of Roger Camero. In 2003, during touring downtime with the band, No Motiv, HFM was created
                with the sole purpose of Roger writing and recording songs for fun.</p>
            <p>There was no desire to turn the project from a one man band into a live performance band. During 2003-2013, several songs
                were written and recorded by Roger, only to be shared with a few close friends who were interested in listening.</p>
            
            <p> For the past 20 years, Roger has been working mainly as a live sound engineer and record producer, while also keeping active
                playing in several bands that function as part time side projects. In 2013, the decision was made to finally bring He
                Fails Me to the public eye. In between touring cycles and album production, He Fails Me has released 5 recordings and
                has played 9 shows, with a tight cast of Raymond Camero (Roger’s older brother) and other close friends filling out the
                band. </p>
            <hr>
            <p>He Fails Me “Live” has been made possible by the following members (so far):</p>
            <ul>
                <li>Roger Camero: Vocals, Guitar</li>
                <li>Raymond Camero: Bass, Guitar, Keyboard</li>
                <li>Cortney Miner: Guitar</li>
                <li>Michael Procaccini: Bass</li>
                <li>Wayne Peterson: Drums</li>
                <li>Steve Choi: Drums</li>
                <li>Erol Ulug: Drums</li>
            </ul>
            </div>
            <div class="col-md-4">
                <p>Our greatest happiness does not depend on the condition of life in which chance has placed us, but is always
                    the result of a good conscience, good health, occupation, and freedom in all just pursuits.</p>
                <p>Being in control of your life and having realistic expectations about your day-to-day challenges are the
                    keys to stress management, which is perhaps the most important ingredient to living a happy, healthy
                    and rewarding life.</p>
                <p>
                    <a href="#" class="btn btn-transparent-white btn-capsul">Explore More</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section>



<div class="container">

    <div class="row">
        <div class="col-sm-12">
            
                <h2>LIVE PRODUCTION / STUDIO PRODUCTION</h2>
                <p>
                    In 2008, Roger was hired to be the Front of House Sound Engineer for the band, RX Bandits. He toured with the band until
                    2016, the bands last full US tour. His client list includes:</p>
                <p>Parkway Drive, Circa Survive, Knapsack, Set Your Goals, This Wild Life, The Movielife, Night Demon, Kiev.</p>
                <br>
                <img class="img-fluid" src="../public/assets/images/teragram.JPG" />
                <br>
                <br>
                <p>
                    Aside from working as a live sound engineer, he has tech'ed for the following bands:
                </p>
                <ul>
                    <li>Ben Harper & The Innocent Criminals - Bass Tech</li>
                    <li>New Found Glory - Bass Tech & Drum Tech</li>
                    <li>At The Drive In - Guitar Tech</li>
                    <li>The Sounds of Animals Fighting - Band Tech</li>
                </ul>
                <img class="img-fluid" src="../public/assets/images/about-page/live/tsoaf.JPG" />
                <img class="img-fluid" src="../public/assets/images/about-page/live/ben-harper-live.JPG" />
                <img class="img-fluid" src="../public/assets/images/about-page/live/thailand1.JPG" />
            </section>
        </div>
    </div>
</div>
</section>