 {{!-- - MEDIA: - Picture Gallery - Music - Spotify player for all releases - Video --}}
<section class="media-sec">
    <div class="container">
        <!-- Spotify -->
        <h1>SPOTIFY</h1>
        <hr>
        <div class="row">
            <!-- Album -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <img class="album-img" src="../public/images\1-Close-Your-Eyes-EP.jpg" alt="card image">
                        </div>
                        <div class="backside">
                            <iframe src="https://open.spotify.com/embed/album/0jML3Y6yg4gSfRlwRkJ7Gx" frameborder="0" allowtransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Album -->
            <!-- Album -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <img class="album-img" src="..\public/images\2-Distortion.jpg" alt="card image">
                        </div>
                        <div class="backside">
                            <iframe src="https://open.spotify.com/embed/album/0ZCGJCGRHkhjCNZCdZAj4f" frameborder="0" allowtransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Album -->
            <!-- Album -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <img class="album-img" src="..\public\images\3-Surrender.jpg" alt="card image">
                        </div>
                        <div class="backside">
                            <iframe src="https://open.spotify.com/embed/album/3rpT5OcHvsz7gm8CzFJoEf" frameborder="0" allowtransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Album -->
            <!-- Album -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <img class="album-img" src="..\public\images\4-Head-And-Heart.jpg" alt="card image">
                        </div>
                        <div class="backside">
                            <iframe src="https://open.spotify.com/embed/album/5zh8Bso4m7dbMiTnM5qlaz" frameborder="0" allowtransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Album -->
            <!-- Album -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <img class="album-img" src="../public\images\5-Just-Enjoy-The-View.PNG" alt="card image">
                        </div>
                        <div class="backside">
                            <iframe src="https://open.spotify.com/embed/album/4Je5QaafEcQIYKhfmQOnrh" frameborder="0" allowtransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Album -->
        </div>
        <!-- ./Spotify -->
    </div>
</section>

<section class="media-sec">
    <div class="container">
        <!-- Soundcloud -->
        <h1>SOUNDCLOUD</h1>
        <hr>
        <div class="row">
            <!-- Album -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <img class="album-img" src="..\public\images\6-Jinx-Removing.jpg" alt="card image">
                        </div>
                        <div class="backside">
                            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/299579435&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Album -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <img class="album-img" src="..\public\images\8-Its-No-Good.jpg" alt="card image">
                        </div>
                        <div class="backside">
                            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134840543&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Album -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <img class="album-img" src="../public\images\7-Young-Blood.jpg" alt="card image">
                        </div>
                        <div class="backside">
                            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/183187631&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Album -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <img class="album-img" src="..\public/images\7-Young-Blood.jpg" alt="card image">
                        </div>
                        <div class="backside">
                            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/183187627&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Album -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <img class="album-img" src="..\public/images\7-Young-Blood.jpg" alt="card image">
                        </div>
                        <div class="backside">
                            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/183187625&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Soundcloud -->
    </div>
</section>

{{!-- PHOTO GALLERY --}}
<section>
    <h1>GALLERY</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <div class="gal">
                    <img src="../public/images/hfm-in-studio/bl-vox.JPG">
                    <img src="../public/images/hfm-in-studio/brightlights.JPG">
                    <img src="../public/images/hfm-in-studio/memoryman.jpg">
                    <img src="../public/images/live pics/12-28-16-4th-St-Vine.jpg">
                    <img src="../public/images/hfm-in-studio/brightmountaingarage.JPG">
                    <img src="../public/images/hfm-in-studio/brightmountainvocals.JPG">
                    <img src="../public/images/live pics/8-10-15-DiPiazzas.JPG">
                    <img src="../public/images/hfm-in-studio/BL-box-1.jpg">
                    <img src="../public/images/hfm-in-studio/camerobrothers.JPG">
                    <img src="../public/images/live pics/9-24-15-Programme.JPG">
                    <img src="../public/images/hfm-in-studio/darkterror.JPG">
                    <img src="../public/images/live pics/9-20-14-Bombay.JPG">
                    <img src="../public/images/hfm-in-studio/practice2.JPG">
                    <img src="../public/images/hfm-in-studio/thecaptainsquarters.JPG">
                    <img src="../public/images/hfm-in-studio/hfm2.jpg">
                    <img src="../public/images/live pics/4-16-16-La-Dolce-Vita.jpg">
                    <img src="../public/images/hfm-in-studio/jobu.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
