 {{!-- - Tour: - Old show flyers displayed --}}
<section>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>TOUR</h1>
        <hr>
        <img style="width:50%; height:50%" src="../public/assets/images/tour-page/12-28-16-4th-St-Vine.jpg"
        <br>
        <H3>PAST SHOWS</H3>
      </div>
      <div class="thead">

        <div class="row tr">
          <div class="col-sm-3 col-xs-3 td">
            DATE
          </div>
          <div class="col-sm-5 col-xs-5 td status">
            VENUE
          </div>
          <div class="col-sm-4 col-xs-4 td">
            CITY/STATE
          </div>
        </div>

      </div>

      <div class="table-responsive">
        <div class="tbody">

          <div class="row tr click-cursor">
            <div class="col-sm-3 td">
              1.17.14
            </div>
            <div class="col-sm-5 td status">
              BOMBAY
            </div>
            <div class="col-sm-4 td">
              VENTURA, CA
            </div>
          </div>

          <div class="row tr click-cursor">
            <div class="col-sm-3 td">
              9.20.14
            </div>
            <div class="col-sm-5 td status">
              BOMBAY
            </div>
            <div class="col-sm-4 td">
              VENTURA, CA
            </div>
          </div>

          <div class="row tr click-cursor">
            <div class="col-sm-3 td">
              4.20.15
            </div>
            <div class="col-sm-5 td status">
              SLIDEBAR
            </div>
            <div class="col-sm-4 td">
              FULLERTON, CA
            </div>
          </div>

          <div class="row tr click-cursor">
            <div class="col-sm-3 td">
              8.10.15
            </div>
            <div class="col-sm-5 td status">
              DIPIAZZA'S
            </div>
            <div class="col-sm-4 td">
              LONG BEACH, CA
            </div>
          </div>

          <div class="row tr click-cursor">
            <div class="col-sm-3 td">
              8.14.15
            </div>
            <div class="col-sm-5 td status">
              LANCASTER MOOSE LODGE
            </div>
            <div class="col-sm-4 td">
              LANCASTER, CA
            </div>
          </div>

          <div class="row tr click-cursor">
            <div class="col-sm-3 td">
              9.24.15
            </div>
            <div class="col-sm-5 td status">
              PROGRAMME
            </div>
            <div class="col-sm-4 td">
              FULLERTON, CA
            </div>
          </div>

          <div class="row tr click-cursor">
            <div class="col-sm-3 td">
              9.25.15
            </div>
            <div class="col-sm-5 td status">
              BONNERHAUS
            </div>
            <div class="col-sm-4 td">
              NORTH HOLLYWOOD, CA
            </div>
          </div>

          <div class="row tr click-cursor">
            <div class="col-sm-3 td">
              4.16.16
            </div>
            <div class="col-sm-5 td status">
              LA DOLCE VITA
            </div>
            <div class="col-sm-4 td">
              OXNARD, CA
            </div>
          </div>

          <div class="row tr click-cursor">
            <div class="col-sm-3 td">
              12.28.16
            </div>
            <div class="col-sm-5 td status">
              4TH ST VINE
            </div>
            <div class="col-sm-4 td">
              LONG BEACH, CA
            </div>
          </div>

        </div>
      </div>
    </div>
</section>
</div>


<div class="container">
  <section>
    <h1>PAST SHOW FLYERS</h1>
    <hr>
    <div class="col-md-12">
      <div class="row">
        <hr>

        <div class="gal">

          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">

          <img src="https://preview.ibb.co/mWpE3Q/2.jpg" alt="">

          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">

          <img src="https://preview.ibb.co/mysOxk/3.jpg" alt="">



          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
          <img src="https://preview.ibb.co/mWpE3Q/2.jpg" alt="">

          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">

          <img src="https://preview.ibb.co/mysOxk/3.jpg" alt="">

          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">

          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
          <img src="https://preview.ibb.co/mysOxk/3.jpg" alt="">

          <img src="https://preview.ibb.co/mysOxk/3.jpg" alt="">

          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
          <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
          <img src="https://preview.ibb.co/mWpE3Q/2.jpg" alt="">
        <img src="../public/assets/images/show-flyers/1-17-14-Bombay.jpg">
        <img src="../public/assets/images/show-flyers/4-16-16-La-Dolce-Vita.JPG">
        <img src="../public/assets/images/show-flyers/4-20-15-Slidebar.JPG">
        <img src="../public/assets/images/show-flyers/8-10-15-DiPiazzas.JPG">
        <img src="../public/assets/images/show-flyers/8-14-15-Lancaster-Moose-Lodge.JPG">
        <img src="../public/assets/images/show-flyers/9-20-14-Bombay.jpg">
        <img src="../public/assets/images/show-flyers/9-24-15-Programme.PNG">
        <img src="../public/assets/images/show-flyers/9-25-15-Bonnerhaus.JPG">
        <img src="../public/assets/images/show-flyers/12-28-16-4th-st-vine.JPG">

        </div>

      </div>
    </div>
</div>
</section>