/* our custom   */ 

.video-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.full-bg-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.full-bg-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

/*TOUR TABLE CSS*/

.tbody>.tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.panel .td[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.tbody>.tr,
.thead>.tr {
    margin: 0 auto;
}

.tbody>.tr.active-row {
    background-color: #dcd4d4;
}

.tbody>.tr>.td>label {
    display: inline-block;
    max-width: 100%;
    background-color: red;
    padding: 4px 10px;
    margin-bottom: 0;
    border-radius: 3px;
}

.click-cursor {
    cursor: pointer;
}

@media (min-width: 992px) {
    .thead>.tr {
        padding-right: 2%;
    }
    .panel>.table-responsive {
        height: 200px;
    }
}

@media (min-width: 767px) {
    .tbody>.tr>.td,
    .thead>.tr>.td {
        padding: 6px;
        vertical-align: middle;
        line-height: 1.42857143;
        border-top: 1px solid #ddd;
    }
    .tbody>.tr>.td.status {
        padding: 2px 6px;
    }
    .tbody>.tr>.td {
        border-top: 1px solid #ddd;
    }
    .thead>.tr {
        border-top: 1px solid #ddd;
        border-bottom: 2px solid #ddd;
    }
    .thead>.tr>.td {
        font-weight: bold;
    }
    .thead>.tr>.td.status {
        padding-left: 10px;
    }
    .tbody>.tr.click-cursor:hover {
        background-color: #dcd4d4;
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .thead>.tr>.long {
        padding-top: 2.5%;
    }
}

@media screen and (max-width: 767px) {
    .table-responsive {
        overflow-y: auto;
    }
    .panel>.table-responsive {
        height: 300px;
    }
    .thead {
        display: none;
    }
    .tbody>.tr {
        position: relative;
        border-top: 1px solid #ddd;
    }
}
/*TOUR GALLERY CSS*/

.gal {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
}
/* MEDIA PAGE CSS */

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.album-img {
    width: 100%;
}

iframe {
    width: 1000px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}


/*TOUR GALLERY CSS*/

.gal {
    -webkit-column-count: 4;
    /* Chrome, Safari, Opera */
    -moz-column-count: 4;
    /* Firefox */
    column-count: 4;
}

.gal img {
    width: 100%;
    padding: 7px 0;
}

@media (max-width: 500px) {
    .gal {
        -webkit-column-count: 1;
        /* Chrome, Safari, Opera */
        -moz-column-count: 1;
        /* Firefox */
        column-count: 1;
    }
}

/*CONTACT FORM*/
p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}
a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

#contact{
	/* background:#333333; */
	/* color:#f4f4f4; */
	padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}

/* set video aspect ratio and vertically center */

.vimeo-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: #111;
    /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden; */
}

.vimeo-wrapper iframe {
    width: 100vw;
    height: 96.25vw;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 110vh;
    min-width: 177.77vh;
    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-icon {
    width: 70px;
}

.sps--blw .nav-icon path.cls-1 {
    fill: #000000;
}

.sps--abv .nav-icon path.cls-1 {
    fill: #ffffff;
}

#band-logo {
    width: 90%;
    max-width: 8000px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100
}

.header-vid{
    overflow: hidden;
}
.bg-img-header {
    height: 90vh;
}
.bg-img-header.contact {
    background: url(/assets/images/contact-page.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header .header-text h1 {
    padding-top: 100px;
    text-align: left;
    color: #ffffff;
}